.footer-content{
    display: flex;
    
    height: 100%;
}

.footer{
    background: #5b5656 ;
    color: azure;
    position: relative;
}
.footer .footer-bottom{
    background:#4d4646;
    color: white;
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 2rem;
}
.footer-section{
    flex: 1;
    padding: 25px;
    
    /* border: 1px solid white; */
}

.logo{
    align-content: center;
    margin: auto;
    max-height: 90px;
}



.footerTitle{
    font-size: 35px;
    /* color:#7fcd91;; */
    font-weight: bold;
    text-align: center;
}



.enlarge:hover{
  transform: scale(1.5);
 
  
}