.header {
    font-family: 'Montserrat', sans-serif;

}
.chat-box {
    height: 150px;
}

.sign-up-pg {
    margin-top: 40px;
    }


.callout, .caveat {
    font-family: 'Caveat', cursive;
}

.grid-container {
   margin-top: 40px;
}

.card {
    background-color: rgb(114, 101, 101);
}

.text-center.mb-header.header {
    margin-bottom: 40px;
}

body {
    font-family: 'Caveat', cursive;
    background-color: #c1db2e;
    /* tan background-color: rgb(226, 201, 168); */
    /* red background-color: rgb(163, 10, 10); */
}
 .bg { 
  
    width: 100%;

    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
  }

  .columns.small-12.footer {
      width: 100%;
  }
  /* .medium-horizontal.menu.align-right {
      color: black;
      font-family: 'Caveat', cursive;
  } */
