/*body {
    background-image: url("https://media.istockphoto.com/photos/theres-nothing-we-cant-do-together-picture-id889029082?k=6&m=889029082&s=612x612&w=0&h=w2GWKDXWZTsPQe63aEQR4dafjpamSO1TJ3hE0FUx6M8=");
}  */

body {
    font-family: 'Caveat', cursive;
}
.callout {
    font-family: 'Caveat', cursive;
}
li {
    color: black;
}